@import "tailwindcss";

@theme {
  /* Colors */
  --color-red: #b11d0f;
  --color-red-100: #ff5f5f;
  --color-primary: var(--color-red);

  /* Font Size */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1.25rem; /* 20px */
  --text-lg: 1.375rem; /* 22px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 1.75rem; /* 28px */
  --text-3xl: 1.875rem; /* 30px */
  --text-4xl: 2.25rem; /* 36px */
  --text-5xl: 3rem; /* 48px */
  --text-6xl: 3.75rem; /* 60px */
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Light.ttf");
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Light.ttf");
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Light.ttf");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Light.ttf");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Medium.ttf");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Medium.ttf");
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Bold.ttf");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Bold.ttf");
  font-weight: 800; /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont;
  src: url("/assets/font/FCParagraph-Bold.ttf");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 100; /* Thin weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 200; /* ExtraLight weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 300; /* Light weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 400; /* Regular weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 600; /* SemiBold weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 700; /* Bold weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 800; /* ExtraBold weight */
  font-style: normal;
}

@font-face {
  font-family: AppFont-Secondary;
  src: url("/assets/font/FC-Friday-Medium.ttf");
  font-weight: 900; /* Black weight */
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 2em;
}

h2 {
  font-weight: 700;
  font-size: 1.75em;
}

h3 {
  font-weight: 700;
  font-size: 1.5em;
}

h4 {
  font-weight: 700;
  font-size: 1.25em;
}

h5 {
  font-weight: 700;
  font-size: 1em;
}

h6 {
  font-weight: 700;
  font-size: 0.875em;
}
