<div class="font-[AppFont-Secondary]  py-5">
    <div class="text-2xl">New Update!</div>
    <div class="h-80 w-full bg-[#d1d1d1]"></div>
</div>

<div class="font-[AppFont-Secondary] py-5">
    <div class="flex">
        <div class="text-2xl">
            หมวดหมู่ยอดฮิต
        </div>
        <div class="flex flex-nowrap">
            <div>
                <div class="w-full h-48 bg-orange-100"></div>
            </div>
        </div>
    </div>
</div>

<div class="font-[AppFont-Secondary]  py-5">
    <div class="text-2xl">Recommended</div>
    <div class="h-80 w-full bg-[#d1d1d1]"></div>
</div>