<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ site.title }} | {{ page.title }}</title>
  <link rel="stylesheet" href="/assets/css/tailwind.css">
</head>

<body class="font-[AppFont] text-base relative">
  <header>{% include head.html %}</header>
  {% include navbar.html %}
  <main class="flex flex-col justify-between overflow-auto mt-[80px]">
    <div class="container mx-auto   min-h-[calc(100%-300px)]">{{ content }}</div>
    {% include footer.html %}
  </main>
</body>

</html>